# SYSTEM parms
#   uploadsite = A (APRS-IS) or S (SondeHub)
#   logging = O or R  (O = overwrite each time program is run; R is append each time run but resets at midnight each day)
#
# BALLOON parms
#   tracker = Z (Zachtek), A (AB5SS), Q (QRP-Labs), U (U4B)
#   timeslot = 0, 2, 4, 6, 8  (last digit of the minute for xmit)
#   ldatetime = last date/time of successful upload of telemetry data
#   ldatetime = 2023-07-31 01:00:00

[SYSTEM]
uploadsite = S
logging = O

[K5WH-117]
uploadcallsign = W5MOM
wsprcallsign = K5WH/B
ballooncallsign = K5WH-117
timeslot = 4
tracker = Z
comment = BVARC Brazos Valley ARC Field Day, STX BLT
ldatetime = 2023-07-31 02:00:00

[N5EKO-113]
tracker = Z
uploadcallsign = K5MAP
wsprcallsign = N5EKO/C
ballooncallsign = N5EKO-113
timeslot = 4
comment = This balloon may have landed
ldatetime = 2023-07-23 04:00:00

[AB5SS-13]
tracker = A
uploadcallsign = K5MAP
wsprcallsign = AB5SS
ballooncallsign = AB5SS-13
band = 24
channel = 12
timeslot = 6
comment = 12 Sats 4.80V 11720m 0C EL08NI 1K2PNI AB5SS BLT-100 WSPR, South Tx Balloon Launch Team 3
ldatetime = 2023-07-03 23:20:00

# 2022-10-21 00:00:00 - 2022-10-23 00:00:00
# 2023-07-03

[W3FGP-1]
tracker = Z
uploadcallsign = K5MAP
wsprcallsign = W3FGP/A
ballooncallsign = W3FGP-1
timeslot = 0
comment = This balloon may have landed
ldatetime = 2023-07-25 00:00:00
